<nav class="navbar navbar-expand-md navbar-dark bg-danger fixed-top py-1"
    id="main-nav">
    <div class="container">
      <a href="{% url 'listings:product_list_url' %}" class="navbar-brand">
        <h3 class="font-weight-bold">finesauces</h3>
      </a>
      <button class="navbar-toggler" data-toggle="collapse" data-target=#navbarCollapse>
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
              {% if request.user.is_authenticated %}
              <li class="nav-item">
                <a href="{% url 'profile_url' %}" class="nav-link text-white">
                  <i class="fas fa-user"></i> {{ request.user.email }}
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'logout' %}" class="nav-link text-white">
                  <i class="fas fa-sign-out-alt"></i>
                  Log out
                </a>
              </li>
              {% else %}
              <li class="nav-item">
                <a href="{% url 'login' %}" class="nav-link text-white">
                  <i class="fas fa-sign-in-alt"></i>
                  Log in
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'register' %}" class="nav-link text-white">
                  <i class="fas fa-user-plus"></i>Register
                </a>
              </li>
              {% endif %}
            </ul>
          </div>
          <li class="nav-item">
            <div class="dropdown-custom">
              <a href="{% url 'cart:cart_detail_url' %}" class="nav-link text-white drop-btn">
                <i class="fas fa-shopping-cart"></i>
                $<span id="cart_price">{{ cart_total_price | floatformat:2 }}</span>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>